.UserIcon {
  display: inline;
  float: right;
  vertical-align: middle;
  position: relative;
  max-height: 100%;
}
.UserName {
  display: inline-block;
  color: white;
  margin-right: 0.5em;
}

.SteamAvatar {
  display: inline-block;
  max-height: 5vh;
  border-radius: 50%;
}
