.SelectionOptions {
  position: relative;
  margin: auto;
  width: 65vw;
}
.OptionsList {
  background-color: cyan;
  display: grid;
  grid-template-areas:
    "UnplayedGames Friends"
    "Genre Friends"
    "Genre Friends";
}
.UnplayedGames {
  grid-area: UnplayedGames;
  background-color: lightgreen;
}
.Genre {
  grid-area: Genre;
  background-color: lightsalmon;
}
.Friends {
  grid-area: Friends;
  background-color: lightskyblue;
}
.TitleLabel {
  display: block;
}
.Option {
  display: block;
}
.ToggleButton {
  position: absolute;
  height: auto;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158);
  border: rgba(255, 255, 255, 0.1);
}
