.HeaderInComp {
  justify-content: center;
}
.Title {
  text-align: center;
}
.LoginForm {
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-areas:
    "UsernameInput UsernameInput . LoginButton"
    "PasswordInput PasswordInput . . ";
  grid-gap: 0 1rem;
}
.UsernameInput {
  grid-area: UsernameInput;
}
.PasswordInput {
  grid-area: PasswordInput;
}
.LoginButton {
  grid-area: LoginButton;
}
