@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: Roboto !important;
}
.App {
  background: url("./images/steam-icon.svg"),
    linear-gradient(-45deg, #000000, #00adee);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  padding: 0em;
  position: relative;
}
