.WheelItem {
  background-color: indigo;
  position: relative;
  margin-right: 0.5rem;
  height: 100%;
  width: auto;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  vertical-align: middle;
}
.GameImage {
  height: 100%;
}
